<div class="row">
  <div class="col-md-4 campgrounds-card">
  <% campgrounds.forEach(camp => { %>
    <div class="card " style="width: 30rem">
      <img
        class="card-img-top campground-img"
        style="width: 30rem"
        src="<%= camp.image %>"
        alt="<%= camp.name %>"
      />
      <div class="card-body">
        <h3 class="card-title campground-info"><%= camp.name %></h3>
        <p class="card-text"><%= camp.description %></p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
    <% }) %>
  </div>
</div>
