<h1 style="text-align: center; color: #c5e7ab">Camp Around Camp Around</h1>
<div class="container container-login">
  <div class="row">
    <div class="col-md-12 main-section">
      <img src="/images/acornLogo2.png" />
    </div>
    <h4 style="text-align: center; color: #c5e7ab">
      Journey with Acorn and log your Camping!
    </h4>
    <div class="section">
      <div class="login">
        <a href="/auth/google" class="btn">
          <i class="fab fa-google"> Login With Google</i>
        </a>
      </div>
    </div>
  </div>
</div>
