<div class="container">
  <div
    class="row h-100 justify-content-center align-items-center"
    style="flex-direction: row-reverse"
  >
    <h3
      style="
        text-align: center;
        color: #fae3d0;
        font-family: 'Cabin', sans-serif;
      "
      class="mt-4"
    >
      Take your next journey with Acorn!
    </h3>
    <h6
      style="
        text-align: center;
        color: #fae3d0;
        font-family: 'Cabin', sans-serif;
      "
      class="mt-4"
    >
      Create and share personalized camping experiences and view others.
    </h6>

    <img
      src="/images/acornscene.png"
      class="rounded-3 my-5"
      style="height: 550px; width: 450px"
    />
    
    <div class="col-4 mx-auto">
      <% if (success_msg.length) { %>
      <h4
        class="alert alert-success"
        role="alert"
        style="display: flex; justify-content: center; max-width: 500px"
      >
        <%= success_msg %> <% } %>
      </h4>
      <div class="row h-100 justify-content-center align-items-center" style="flex-direction: row-reverse;" >
      <div class="login-form card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5 rounded-3">
          <h5 class="card-title text-center mb-5 fw-light fs-2">Sign In</h5>
          <form action="/auth/login" method="post" id="loginForm">
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="name@example.com"
              />
              <label for="email">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                name="password"
              />
              <label for="password">Password</label>
            </div>

            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="rememberPasswordCheck"
              />
              <label class="form-check-label" for="rememberPasswordCheck">
                Remember password
              </label>
            </div>
            <div class="d-grid">
              <button
                class="btn btn-login loginBtn text-uppercase fw-bold"
                type="submit"
              >
                Sign in
              </button>
            </div>
            <% if (messages.length) { %>
            <div class="alert alert-danger my-4"><%= messages %></div>
            <% } %>
            <hr class="my-4" />
            <div class="d-grid mb-2">
              <a
                class="btn btn-login loginBtn text-uppercase fw-bold"
                href="/auth/google"
                role="button"
              >
                <i class="fab fa-google me-2"> </i>
                Sign in with Google
              </a>
            </div>
            <div class="d-grid">
              <section
                class="btn btn-facebook btn-login text-uppercase fw-bold"
                type="submit"
              >
                <i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
              </section>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
