<h1>Camp Around Camp Around</h1>
<div class="container container-login">
  <div class="row">
    <div class="col-md-12">
      <img src="/images/acornLogo2.png" />
      <h4>Journey with Acorn and log your Camping!</h4>
    </div>
    <div class="section">
      <div class="login">
          <a href="/auth/google" class="btn">
            <i class="fab fa-google"> Login With Google</i>
          </a>
      </div>
    </div>
</div>
