

h5{
    font-family: 'Cabin', sans-serif;
    text-align: center !important;
    color:#493436;
    font-size: 20px;
    margin:5px;    
    max-width: fit-content;
}
body .wrapper{
    background-color: #58736E;
}
body {
    font-family: 'Cabin', sans-serif;
    background-color: #58736E;
    /* position: relative; */
    
}
h1{
    color: #FAE3D0;
    font-family: 'Cabin', sans-serif;
}


#navbarNav ul{
    background-color: #58736E;
    border-left: 2px solid #DF7463;
    border-bottom: 2px solid #DF7463;
    /* width: 40%; */
    /* flex-direction: column-reverse; */
    align-items: flex-end;
}
#navbarNav ul li {
    width: min-content;
    
}
button.navbar-toggler{
    margin-right: 8px;
}
a.nav-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    width: 165px;
}
button:focus:not(:focus-visible) {
    color: #DF7463;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(223,116,99,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: #DF7463;
  } 




.navbar-collapse{
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
}
.navbar-collapse collapse show {
    background-color: #58736E;
    display: flex;
    align-items: flex-end;
}

.acornAvatar {
    height:50px;
    margin-left: 15px;
}
.home {
    background-image: url("./images/acornscene.png");
    position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 100vh;
}
.login-form{
    background-color: #BBD0CB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card-body{
    /* background-color: #BBD0CB; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}


.campground-img{
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    /* align-content: center; */
    width: 20rem;
    height: 177px;
    margin: auto;
    /* margin: auto; */
}
::-webkit-scrollbar {
    width: 0px;
}
.nav{
    background: #493436;
    z-index: 1;
    height: 70px;

} 
.nav-link{
    color: #FAE3D0;
    font-weight: bold;
}
.input-group-text{
    color: #FAE3D0;
    background-color: #8D8E8B;
    font-weight: bold;
}
.main-section{
    display: flex;
    justify-content: center;
}
.container-login .section{
    display: flex;
    justify-content: center;
    align-content: center;
}
.campForm {
    background-color: #BBD0CB;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.backdrop{
    background-color: #58736E;
}
.btn{
    font-size: 1.5em;
    color: #53585C;
}

.loginBtn{
    background-color: #DF7463;
    color: #FAE3D0;
  
}
.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    color: white !important;
    background-color: #DF7463;
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #58736E;
  }

.description {
    display: flex;
    width: 20rem;
    flex-direction: column;
    align-items: flex-end;

}
.campgrounds-card{
    /* width: 300px; */
    /* max-width: 300px; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    transition: all .5s ease-in-out;
    background-color: #bbd0cb;
    border: 1px solid rgb(10, 39, 3);
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    height:400px;
   
}
.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #58736E;

}
.camp-description{
    height: 138px;
    margin-bottom: -25px;
    font-size: small;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: scroll;
    text-overflow: ellipsis;
  
}
.editBtn{
    display: flex;
}
.col{
    display: flex;
    justify-content: space-around;
}

.pencil{
    color: #461F00;
    font-size: 15px;
    cursor: pointer;
}
.trash{
    color: #461F00;
    font-size: 15px;
    cursor: pointer;

    
}
.joinBtn {
      display: inline-flex;
}
.campgrounds-card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5); 
	transition: all .32s ease-in-out; 
}  


img:hover { 
    	/* transform: scale(1.15);  */
        transition: all .2s ease-in-out; 

    }
    @media screen and (min-width: 990px){
        #navbarNav ul{
            flex-direction: row;
            border-style: none;
            background-color: #493436;
        }
        a.nav-link {
            display: inline-block;
            padding: 0.5rem 1rem;
            width: 160px;
        }
    }
  
        
    
    /* @media screen and (min-device-width: 375px) {
        #navbarNav ul{
            background-color: #58736E;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            width: 40%;
            flex-direction: column-reverse;
            align-items: flex-end;
        }
        #navbarNav ul li {
            width: min-content;
        } */
/* } */